.App {
  text-align: left;
  background-color: #000000;
  color: aliceblue;
  height:100vh;
  border: 3px solid #FFFFFF;
  display: flex;
  flex-direction: column;
}
.Col {
  width: 33vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Component {
  height: fit-content;
  min-height: 30vh;
  width: 33vw;
}
.emptyComponent{
  border: 1px solid #FFFFFF;
  min-height: 30vh;
  width: 33vw;
}
.topRow{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
  border: 1px solid white;
}
.buttomRow{
  height: 20vh;
  width: 100vw;
  border: 1px solid white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #444444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
