.header{
    text-align: center;
    border-bottom: 1px solid #888888;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
}